doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)

    // Facebook Open Graph tags
    each value, key in og
      meta(property=`og:${key}`, content=value)
    // Twitter Card tags
    each value, key in twitter
      meta(name=`twitter:${key}`, content=value)

    link(rel="icon", href="/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/style.css")
    block head
  body
    block content
